laba8/Person.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="addressFact" type="xs:string" />
                <xs:element name="addressRegistration" type="xs:string" />
                <xs:element name="citizenShip" type="xs:unsignedByte" />
                <xs:element name="cityes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:unsignedByte" />
                            <xs:element name="name" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dateOfBirth" type="xs:date" />
                <xs:element name="email" type="xs:string" />
                <xs:element name="id" type="xs:unsignedByte" />
                <xs:element name="isEmployed" type="xs:boolean" />
                <xs:element name="lastName" type="xs:string" />
                <xs:element name="name" type="xs:string" />
                <xs:element name="passwordSeries" type="xs:string" />
                <xs:element name="phoneNumber" type="xs:unsignedInt" />
                <xs:element maxOccurs="unbounded" name="positions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:unsignedByte" />
                            <xs:element name="name" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="surname" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>